### Series : 1D array
Creating Series using array, dictionary and scalar

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#empty Series
s = pd.Series()
print(s)

In [ ]:
# series from an array
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

In [ ]:
# giving user defined index to series
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[107,101,102,103])
print(s)

In [ ]:
# creating series using dictionary
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

In [ ]:
# giving index to series
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)

In [ ]:
# series from scalar values
s = pd.Series(5, index=[10, 11, 12, 13])
print (s)

In [ ]:
# Accesssing data
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s)

In [ ]:
#retrieve the first element
print (s[0])

#retrieve a single element using index
print (s['a'])

#retrieve the first three element
print (s[:3])

#retrieve multiple elements
print (s[['a','c','d']])

### DataFrame: multi Dimen Datatype

In [ ]:
df = pd.DataFrame()
print(df)

In [ ]:
#dataframe using list
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

In [ ]:
# creating two columns
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

In [ ]:
# giving float values
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print (df)

In [ ]:
# dataframe using dictionary
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

In [ ]:
# creating index
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['roll1','roll2','roll3','roll4'])
print (df)

In [ ]:
# dataframe from multiple dictionaries
#understanding Nan
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

In [ ]:
# Dataframe from Series
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

In [ ]:
# selecting a column
print (df['one'])

In [ ]:
# add a third column
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

In [ ]:
# delete a cloumn
print ("Deleting the first column using DEL function:")
del df['three']
print (df)

In [ ]:
# selecting row from data frame
print (df.iloc[2])
#print (df.iloc['b']) # will give error as iloc indicate index location .
# use loc instead
print (df.loc['b'])

In [ ]:
# slicing
df = pd.DataFrame(d)
print (df[2:4])

In [ ]:
# adding rows
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df = df.append(df2)
print (df)
# try chainging 'a' and 'b' with 'one' and 'two'

In [ ]:
# deleting row 
df = df.drop('a')
print(df)